# Arquivos auxiliares do LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ind
*.ilg
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex*
*.run.xml
*.nav
*.snm
*.vrb
*.xdv

# Arquivos temporários
*.tmp
*.bak
*.swp
*~